<div class="lienfooter">
  <p class="logoFP"><img src="/images/footerFoirelogo.png"></p>
  <p class="lienFP">
    <a href="http://www.foiredeparis.fr/" target="blank">Foire de Paris</a>
    <a href="http://www.foiredeparis.fr/" target="blank">Billeterie</a>
    <a href="http://www.facebook.com/pages/Boite-%C3%A0-joie/163628400415166" target="blank">Facebook:La Boîte à joie</a> 
    <a href="http://www.facebook.com/foire.de.paris" target="blank">Facebook:Foire de Paris</a>
        <a href="/mention/Mentions légales.pdf" target="blank">Mentions Légales</a>

  </p>
</div>
<div class='footerlorem'></div>