<ul>
  <li><a href="/liens/new?p=home"><img src="/images/butonPostezjoi.png" ></a></li>
  <li><a href="/fil_joie/index?p=fil"><img src="/images/butonouvriboite.png" ></a></li>
  <li><a href="/fil_vip/index?p=vip"><img src="/images/butonselection.png" ></a></li>
</ul>