<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/administration/ajout_user">Ajouter un auteur</a></li>
  <li><a href="/administration/moderation">Moderation</a></li>
    <li><a href="/authentification/sign_out">Deconnexion</a></li>

</ul>